//Typography
@import url(https://fonts.googleapis.com/css?family=Life+Savers);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
$lifeSavers: 'Life Savers', cursive;
$quicksand:'Quicksand', sans-serif;

//Colors
$green:#4F8A83;
$pink:#E76278;
$blue:#255E7E;
$white:#fff;