.colors{
	.color{
		@include font-size(13);
		display: inline-block;
		margin-top: 20px;
		margin-left: 20px;
		width: 9%;
	  height: 109px;
	}
	.color-green{
		background-color: $green;
		color: $white;
	}
	.color-pink{
		background-color: $pink;
		color: $white;
	}
	.color-blue{
		background-color: $blue;
		color: $white;
	}
	.color-white{
		border: 1px solid #000;
	}
}
